* {
  display: inline-flex;
  margin: 15px;
}
#one {
  width: 50vh;
  height: 10vh;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
}

#two {
  width: 50vh;
  height: 10vh;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
}
